body {
    background: linear-gradient(to right, #16222a, #3a6073) fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.color-yellow
{
    color:  #F7CA18;
}

/* Portfolio */
.portfolio-container{
    overflow: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Roboto:900");
    color: #303542;
    font-weight: bold;
    overflow: hidden;
}
.portfolio-container .name{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    top: 60px;
    left: 5%;
    will-change: transform;
    animation-name: start-name;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 1.5s;
    opacity: 0;
    z-index: 10;
}
@keyframes start-name
{
    0% {transform:translateX(-200px); opacity: 0}
    90%{transform: translateX(25px)}
    100% {transform:translateX(0); opacity: 1} 
}

    .portfolio-container .name{
      font-size: 2.5vw;
      position: absolute;
    }
/* Titles */

.portfolio-container h2{
    top: 0%;
    display: inline-block;
    width: 30%;
    color: aliceblue;
    text-align: center;
    font-size: 2.5vw;
}
.portfolio-container  h2.dev{
    position: absolute;
    top: 900px;
    left: 10%;
    display: inline-block;
}
.portfolio-container h2.design{
    position: absolute;
    top: 900px;
    right: 10%;
    display: inline-block;
}

/* SOCIAL NETWORKS */
.portfolio-container .social-section{
    position: fixed;
    width: 15%;
    top: 125px;
    left: 5%;
    will-change: transform;
    animation-name: start-social;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform:translateX(-400px);
    will-change: transform opacity;
    opacity: 0;
    z-index: 10;
}



.portfolio-container .social-section svg{
    width: 15%;
    fill:aliceblue;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    transition-duration: 0.15s;
}


.portfolio-container .social-section svg:hover{
    fill: #F7CA18;
}

@keyframes start-social
{
    0% {transform:translateX(-400px); opacity:0}
    90%{transform: translateX(25px)}
    100% {transform:translateX(0); opacity:1} 
}



/* BIOGRAPHY */
.portfolio-container .biography{
    position: absolute;
    left: 20%;
    top: 300px;
    font-size: 55px;
    color: #f4f5f7;
    transform:translateY(-400px);
    will-change: opacity transform;
    opacity: 0;
    animation-name: start-biography;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes start-biography
{
    0% {transform:translateY(-600px);opacity: 0}
    100% {transform:translateX(0); opacity: 1} 
}



.portfolio-container .biography p{
    margin: 0%;
    will-change: transform;
}

/* ARROW DOWN */
.portfolio-container .container-arrow{
    position: absolute;
    top: 600px;
    right: 50px;
    z-index: 10;
    will-change: opacity;
    transition-duration: 0.5s;
}


.portfolio-container .container-arrow svg {
    fill:aliceblue;
}
.portfolio-container .arrow-down-1{
    width: 100%;
    position: absolute;
    cursor: pointer;
    will-change: transform opacity;
    opacity: 0;
    animation-delay: 4.2s;
    animation-name: move-arrow-down;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.83, -0.08, 1, 1);
    animation-direction: alternate-reverse;
    animation-duration: 0.5s;
}
.portfolio-container svg.arrow-down-1{
    width: 40px;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
}
.portfolio-container  svg.arrow-down-1:hover {
    fill: #F7CA18;
    animation-duration: 0.8s;
}
@keyframes move-arrow-down
{
    0%{transform:translateY(0); opacity: 1}
    100%{transform:translateY(10px); opacity: 1}
}
.portfolio-container .arrow-down-2{
    width: 100%;
    position: absolute;
    top: -900px;
    will-change: transform;
    animation-delay: 2s;
    animation-name: move-arrow-down-2;
    animation-timing-function:cubic-bezier(0.83, -0.08, 1, 1);
    animation-fill-mode: forwards;
    animation-duration: 2.38s;
    z-index: 0;
}
.portfolio-container svg.arrow-down-2 {
    width: 40px;
}
@keyframes move-arrow-down-2
{
    0%{transform:translateY(0)}
    90%{transform:translateY(715px)}
    100%{transform:translateY(715px); opacity: 0 }
}
/* PERSONAL SCROLL */
.personal-scroll {
    position: absolute;
    left: 0%;
    width: 0.5%;
    height: 100%;
}

.personal-scroll .fill-line {
    position: fixed;
    top: 0%;
    width: 0.5%;
    height: 100%;
    background: #F7CA18;
    will-change: transform;
    transform-origin: 0 0;
    transition-duration: 0.3s;
    transition-timing-function:cubic-bezier(0.1, 0.35, 0.35, 0.85);
    transform: scaleY(0);
    z-index: 3;
}


/* WORKS */
.portfolio-container .works {
    width: 100%;
    height: 1500px;
    overflow: hidden;
    position: absolute;
    top: 1000px;
    font-size: 2.5vw;
    display: inline-block;

}


.portfolio-container .works div[class^="work-"]{
   overflow: hidden;
}
.portfolio-container .works img:hover{
    transform: scale(1.05);
    will-change: transform;
}
.portfolio-container .works img{
    transition-duration: 0.3s;
    will-change: transform;
}

.portfolio-container .works h3{
    position: absolute;
    top: 5%;
    display: inline-block;
    left: 35%;
}
.portfolio-container .works .design-container h3{
    left: 40%;
}


/* DEV WORKS */

.portfolio-container .works .dev-container{
    transform: translateX(-100%);
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    will-change: transform;
}
.portfolio-container .works .dev-container.is-visible{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    transform: translateX(0%);
    background: rgba(0,0,0,0.1);
    color: aliceblue;
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    will-change: transform;
}


.portfolio-container .works .dev-container .work-1{
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 50%;
    width: 30%;
    height: 25%;
    background:rgba(0,0,0,0.1);
    border-radius: 15px;
}
.portfolio-container .works .dev-container .work-1 img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.portfolio-container .works .dev-container .work-2{
    position: absolute;
    top: 15%;
    right: 15%;
    font-size: 50%;
    width: 30%;
    height: 25%;
    background:rgba(0,0,0,0.1);
    border-radius: 15px;
}
.portfolio-container .works .dev-container .work-2 img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.portfolio-container .works .dev-container .work-3{
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 50%;
    width: 30%;
    height: 25%;
    background:rgba(0,0,0,0.1);
    border-radius: 15px;
}
.portfolio-container .works .dev-container .work-3 img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.portfolio-container .works  span{
    position: absolute;
    top: 70%; 
    left: 0%;
    width: 100%;
    text-align: center;
    color:aliceblue;
    will-change: transform;
}


/* TOOLS DEVELOPMENT */

.portfolio-container .works .tools{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    top: 80%;
}

.portfolio-container .works .dev-container .tools {
    position: absolute;
    width: 100%;
}
.portfolio-container .works .dev-container .tools img {
    border-radius: 0;
}
.portfolio-container .works .work-1 .tools img.html-logo{
    position: absolute;
    left: 30%;
    width: 8%;
}
.portfolio-container .works .work-1 .tools img.css-logo{
    position: absolute;
    left: 45%;
    width: 8%;
}
.portfolio-container .works .work-1 .tools img.js-logo{
    position: absolute;
    left: 60%;
    width: 8%;
}
.portfolio-container .works .work-2 .tools img.html-logo{
    position: absolute;
    left: 38%;
    width: 8%;
}
.portfolio-container .works .work-2 .tools img.css-logo{
    position: absolute;
    left: 53%;
    width: 8%;
}
.portfolio-container .works .work-2 .tools img.js-logo{
    position: absolute;
    left: 60%;
    width: 8%;
}
.portfolio-container .works .work-3 .tools img.html-logo{
    position: absolute;
    left: 23%;
    width: 8%;
}
.portfolio-container .works .work-3 .tools img.css-logo{
    position: absolute;
    left: 38%;
    width: 8%;
}
.portfolio-container .works .work-3 .tools img.js-logo{
    position: absolute;
    left: 53%;
    width: 8%;
}
.portfolio-container .works .work-3 .tools img.greensock-logo{
    position: absolute;
    top: -2%;
    left: 68%;
    width: 10%;
}


/* DESIGN WORKS */
.portfolio-container .works .design-container{
    position: absolute;
    top: 300px;
    background:rgba(247, 247, 247, 0.1);
    opacity: 1;
    top: 0;
    transform: translateX(100%);
    display: inline-block;
    color: aliceblue;
    width: 100%;
    height: 100%;
    text-align: center;
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    will-change: transform;
}
.portfolio-container .works .design-container .work-1{
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 50%;
    width: 30%;
    height: 25%;
    background:rgba(0,0,0,0.1);
    border-radius: 15px;
}
.portfolio-container .works .design-container .work-1 img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.portfolio-container .works .design-container .work-2{
    position: absolute;
    top: 15%;
    right: 15%;
    font-size: 50%;
    width: 30%;
    height: 25%;
    background:rgba(0,0,0,0.1);
    border-radius: 15px;
}
.portfolio-container .works .design-container .work-2 img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.portfolio-container .works .design-container .work-3{
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 50%;
    width: 30%;
    height: 25%;
    background:rgba(0,0,0,0.1);
    border-radius: 15px;
}
.portfolio-container .works .design-container .work-3 img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.portfolio-container .works .design-container span{
    position: absolute;
    top: 70%; 
    left: 0;
    width: 100%;
    text-align: center;
    color:aliceblue;

}

/* TOOLS DESIGN */


.portfolio-container .works .design-container .tools {
    position: absolute;
    width: 100%;
}
.portfolio-container .works .design-container .tools img {
    border-radius: 0;
    display: none;
}


/* Dev button animation */

h2.dev {
    transform: translateX(-150%);
    transition-duration: 1.2s;
    transition-timing-function:cubic-bezier(0.4, 0.91, 0.72, 1.05);
    will-change: transform;
}
h2.dev.is-visible {
    z-index: 10;
    transform: translateX(0);
    transition-duration: 2.4s;
    will-change: transform;
    transition-timing-function: cubic-bezier(0.4, 0.91, 0.72, 1.05);
}

  .dev a{
    color: aliceblue;
    cursor: pointer;
}
 .dev:hover a {
	color: #F7CA18;
	background-color: transparent;
	text-shadow: none;
}

.fill-title-down{
    position: absolute;
    top: 120%;
    left: 20%;
    background: #F7CA18;
    width: 60%;
    height: 4%;
    transform: scaleX(0);
    will-change: transform;
    transition-timing-function: cubic-bezier(0.5, -0.14, 0.36, 1);
    transition-duration: 0.3s;
    transform-origin: 100% 0;
}
 .dev:hover .fill-title-down{

    transform: scaleX(1);
}
.fill-title-up{
    position: absolute;
    top: -20%;
    left: 20%;
    background: #F7CA18;
    width: 60%;
    height: 4%;
    transform: scaleX(0);
    will-change: transform;
    transition-timing-function: cubic-bezier(0.5, -0.14, 0.36, 1);
    transition-duration: 0.3s;
    transform-origin: 0 0 ;
}
 .dev:hover .fill-title-up{
    transform: scaleX(1);
}
.fill-title-left{
    position: absolute;
    top: -20%;
    left: 20%;
    background: #F7CA18;
    width: 0.5%;
    height: 140%;
    transform: scaleY(0);
    will-change: transform;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, -0.14, 0.36, 1);
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}
 .dev:hover .fill-title-left{
    transform: scaleY(1);
}
.fill-title-right{
    position: absolute;
    top: -20%;
    left: 79.5%;
    background: #F7CA18;
    width: 0.5%;
    height: 140%;
    transform: scaleY(0);
    will-change: transform;
    transform-origin: 0 100%;
    transition-timing-function: cubic-bezier(0.5, -0.14, 0.36, 1);
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}
.dev:hover .fill-title-right{
    transform: scaleY(1);
}

/* Design button animation */

h2.design {
    transform: translateX(150%);
    transition-duration: 2.4s;
    transition-timing-function: cubic-bezier(0.4, 0.91, 0.72, 1.05);
    ;
    will-change: transform;
}
h2.design.is-visible {
    z-index: 10;
    transform: translateX(0);
    transition-duration: 2.4s;
    transition-timing-function: cubic-bezier(0.4, 0.91, 0.72, 1.05);
    will-change: transform;
}
  .design a{
    color: aliceblue;
    cursor: pointer;
}
 .design:hover a {
	color: #F7CA18;
	background-color: transparent;
	text-shadow: none;
}

 .design:hover .fill-title-down{
    transform: scaleX(1);
}

 .design:hover .fill-title-up{
    transform: scaleX(1);
}

 .design:hover .fill-title-left{
    transform: scaleY(1);
}

 .design:hover .fill-title-right{
    transform: scaleY(1);
}






                    /*****************RESPONSIVE***********************/



/* RESPONSIVE SECTION FOR MOBILE */

@media (max-device-width: 600px){
    body{
        overflow-x: hidden;
    }
}

/* Titles responsive */

@media (max-device-width: 600px){
    .portfolio-container h2 {
        width: 39%;
        border: aliceblue 3px solid;
        font-size: 5vw;
        text-align: center;
    }
    .portfolio-container h2.dev{
        top: 125vw;
    }
    .portfolio-container h2.design{
        top: 125vw;
    }
}
/* Social networks responsive */
@media (max-device-width: 600px){
    .portfolio-container .social-section{
      top:  15%;
      width: 30%;
      position: absolute;
    }
}
@media (max-device-width: 600px){
    .portfolio-container .social-section svg{
      top:  250px;
    }
}
/* Biography responsive */
@media (max-device-width: 600px){
    .portfolio-container .biography{
      font-size: 6vw;
      top:  70vw;
    }
}
 /*Arrow scroll responsive */
@media (max-device-width: 600px){
    .portfolio-container .container-arrow{
      display: none;
    }
}


/* WORK SECTION RESPONSIVE */
@media (max-device-width: 600px){
    .portfolio-container .works{
        position: absolute;
        top: 150vw;
        height: 250vw;
    }
}
@media (max-device-width: 600px){
    .portfolio-container .works .dev-container h3{
        top: 5vw;
        font-size: 5vw;
        left: 25%;
    }
    .portfolio-container .works .design-container h3{
        top: 5vw;
        font-size: 5vw;
        left: 35%;
    }
}
@media (max-device-width: 600px){
    .portfolio-container h2 .fill-title-down, .portfolio-container h2 .fill-title-up, .portfolio-container h2 .fill-title-left, .portfolio-container h2 .fill-title-right{
      display: none;
    }
}


@media (max-device-width: 600px){
    /* Dev container Responsive */
    .portfolio-container .works .dev-container div[class^="work-"]{
        width: 80vw;
        left: 10%;
        font-size: 4vw;
    }
    .portfolio-container .works  span{
        left: 0;
        bottom: 5vw;
    }
    .portfolio-container .works .dev-container .work-1{
        top: 20vw;
        height: 60vw;
    }
    .portfolio-container .works .dev-container .work-2{
        top: 90vw;
        height: 60vw;
    }
    .portfolio-container .works .dev-container .work-3{
        top: 160vw;
        height: 60vw;
    }
    /* Design container Responsive */
    .portfolio-container .works .design-container div[class^="work-"]{
        width: 80%;
        left: 10%;
        font-size: 4vw;
    }
    .portfolio-container .works .design-container .work-1{
        top: 20vw;
        height: 60vw;
    }
    .portfolio-container .works .design-container .work-2{
        top: 90vw;
        height: 60vw;
    }
    .portfolio-container .works .design-container .work-3{
        top: 160vw;
        height: 60vw;
    }

}



/* RESPONSIVE FOR DEVICE 900-1200px */
@media (max-width: 1200px){
    .portfolio-container h2 {
        width: 39%;
        font-size: 3vw;
        text-align: center;
    }
    .portfolio-container h2.dev{
        top: 55vw;
    }
    .portfolio-container h2.design{
        top: 55vw;
    }
}

@media (max-width: 1200px){
    .portfolio-container .works{
        position: absolute;
        top: 60vw;
        height: 250vw;
    }
}

@media (max-width: 1200px){
    .portfolio-container .works .dev-container h3{
        top: 3vw;
        font-size: 2.5vw;
        left: 35%;
    }
    .portfolio-container .works .design-container h3{
        top: 3vw;
        font-size: 2.5vw;
        left: 40%;
    }
}
@media (max-width: 1200px){
    /* Dev container Responsive */
    .portfolio-container .works .dev-container div[class^="work-"]{
        width: 60vw;
        left: 20%;
        font-size: 2vw;
    }
    .portfolio-container .works  span{
        left: 0;
        bottom: 5vw;
    }
    .portfolio-container .works .dev-container .work-1{
        top: 10vw;
        height: 50vw;
    }
    .portfolio-container .works .dev-container .work-2{
        top: 65vw;
        height: 50vw;
    }
    .portfolio-container .works .dev-container .work-3{
        top: 120vw;
        height: 50vw;
    }
    /* Design container Responsive */
    .portfolio-container .works .design-container div[class^="work-"]{
        width: 60vw;
        left: 20%;
        font-size: 2vw;
    }
    .portfolio-container .works .design-container .work-1{
        top: 10vw;
        height: 50vw;
    }
    .portfolio-container .works .design-container .work-2{
        top: 65vw;
        height: 50vw;
    }
    .portfolio-container .works .design-container .work-3{
        top: 120vw;
        height: 50vw;
    }

}



/* RESPONSIVE FOR DEVICE < 900px */

@media (max-width: 900px){
    body{
        overflow-x: hidden;
    }
}

/* Titles responsive */

@media (max-width: 900px){
    .portfolio-container h2 {
        width: 39%;
        border: aliceblue 3px solid;
        font-size: 5vw;
        text-align: center;
    }
    .portfolio-container h2.dev{
        top: 125vw;
    }
    .portfolio-container h2.design{
        top: 125vw;
    }
}
/* Social networks responsive */
@media (max-width: 900px){
    .portfolio-container .social-section{
      top:  15%;
      width: 30%;
      position: absolute;
    }
}
@media (max-width: 900px){
    .portfolio-container .social-section svg{
      top:  250px;
    }
}
/* Biography responsive */
@media (max-width: 900px){
    .portfolio-container .biography{
      font-size: 6vw;
      top:  70vw;
    }
}
 /*Arrow scroll responsive */
@media (max-width: 900px){
    .portfolio-container .container-arrow{
      display: none;
    }
}


/* WORK SECTION RESPONSIVE */
@media (max-width: 900px){
    .portfolio-container .works{
        position: absolute;
        top: 150vw;
        height: 250vw;
    }
}
@media (max-width: 900px){
    .portfolio-container .works .dev-container h3{
        top: 5vw;
        font-size: 5vw;
        left: 25%;
    }
    .portfolio-container .works .design-container h3{
        top: 5vw;
        font-size: 5vw;
        left: 35%;
    }
}
@media (max-width: 900px){
    .portfolio-container h2 .fill-title-down, .portfolio-container h2 .fill-title-up, .portfolio-container h2 .fill-title-left, .portfolio-container h2 .fill-title-right{
      display: none;
    }
}


@media (max-width: 900px){
    /* Dev container Responsive */
    .portfolio-container .works .dev-container div[class^="work-"]{
        width: 80vw;
        left: 10%;
        font-size: 4vw;
    }
    .portfolio-container .works  span{
        left: 0;
        bottom: 5vw;
    }
    .portfolio-container .works .dev-container .work-1{
        top: 20vw;
        height: 60vw;
    }
    .portfolio-container .works .dev-container .work-2{
        top: 90vw;
        height: 60vw;
    }
    .portfolio-container .works .dev-container .work-3{
        top: 160vw;
        height: 60vw;
    }
    /* Design container Responsive */
    .portfolio-container .works .design-container div[class^="work-"]{
        width: 80%;
        left: 10%;
        font-size: 4vw;
    }
    .portfolio-container .works .design-container .work-1{
        top: 20vw;
        height: 60vw;
    }
    .portfolio-container .works .design-container .work-2{
        top: 90vw;
        height: 60vw;
    }
    .portfolio-container .works .design-container .work-3{
        top: 160vw;
        height: 60vw;
    }

}


